body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
}

.Container{
    margin-left: 20px;
    justify-content: center;
    display: flex;
    gap: 20px;
}

.blog_card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 400px;
    height: 250px;
    overflow-x: auto;
}

.blog_card:hover{
    background-color: dimgrey;
    color: white;
}

.blog_card h2 {
    line-height: 26px;
    font-size: 20px;
    margin-bottom: 10px;
    height: 80px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis; /* Truncate title content */
}

.blog_card h2:hover{
    text-decoration: underline;
    cursor: pointer;
}

.blog_card p {
    flex-grow: 1; /* Make the body take up remaining vertical space */
    height: 60px;
    overflow: hidden;
    text-overflow: ellipsis;/* Truncate title content */
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    
}


.blog_card p:hover{
    text-decoration: underline;
    cursor: pointer;
}


.delete_btn {
    background-color: #e74c3c;
    color: #fff;
    border: none;
    padding: 8px;
    cursor: pointer;
    border-radius: 4px;
    margin: 5px 0 0;
}

.delete_btn:hover{
    text-decoration: underline;
    cursor: pointer;
}

#pagination-container {
    position: fixed;
    bottom: 10px;
    right: 10px;
    display: flex;
    align-items: center;
}


button {
    padding: 8px;
    margin: 0 5px;
    cursor: pointer;
    border: none;
    background-color: #3498db;
    color: #fff;
    border-radius: 4px;
}

button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}


